# Credit Risk Model

In [ ]:
# Import the required libraries
import pandas as pd
from pathlib import Path
from sklearn import StandardScaler, OneHotEncoder

# Preparing the data

In [2]:
# Reading loan_data.csv file into a DataFrame
loan_data = pd.read_csv("loan_data.csv")

# Review the DataFrame
display(loan_data)

,YOB,NKID,DEP,PHON,SINC,AES,DAINC,RES,DHVAL,DMORT,DOUTM,DOUTL,DOUTHP,DOUTCC,BAD
0,19.0,4.0,0.0,1,0.0,R,0.0,O,14464.0,4.0,0.0,0.0,0.0,0.0,0.0
1,41.0,2.0,0.0,1,0.0,P,36000.0,O,0.0,0.0,280.0,664.0,0.0,80.0,0.0
2,66.0,0.0,0.0,1,0.0,N,30000.0,N,0.0,0.0,0.0,0.0,0.0,0.0,0.0
3,51.0,2.0,0.0,1,0.0,P,464.0,O,24928.0,8464.0,584.0,320.0,0.0,60.0,0.0
4,65.0,0.0,0.0,1,0.0,P,15000.0,P,0.0,0.0,0.0,0.0,0.0,0.0,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1220,52.0,4.0,1.0,1,0.0,V,37764.0,U,0.0,0.0,0.0,340.0,0.0,0.0,0.0
1221,56.0,3.0,0.0,1,1200.0,P,31500.0,O,6928.0,46464.0,784.0,256.0,0.0,0.0,1.0
1222,60.0,0.0,0.0,1,0.0,E,46800.0,O,11392.0,928.0,1144.0,680.0,0.0,108.0,0.0
1223,20.0,0.0,0.0,1,0.0,R,0.0,N,0.0,0.0,0.0,0.0,0.0,0.0,1.0
1224,66.0,0.0,0.0,1,0.0,T,5538.0,P,0.0,0.0,492.0,0.0,0.0,0.0,0.0

In [3]:
# Review the data types associated with the columns
loan_data.dtypes

YOB       float64
NKID      float64
DEP       float64
PHON        int64
SINC      float64
AES        object
DAINC     float64
RES        object
DHVAL     float64
DMORT     float64
DOUTM     float64
DOUTL     float64
DOUTHP    float64
DOUTCC    float64
BAD       float64
dtype: object

# Drop the "PHON" column from the dataset.
### This represents whether the applicant has a home phone, and is irrelevant to the dataset.

In [4]:
# Drop 'PHON' column from the DataFrame
loan_data = loan_data.drop(columns="PHON")

display(loan_data)

,YOB,NKID,DEP,SINC,AES,DAINC,RES,DHVAL,DMORT,DOUTM,DOUTL,DOUTHP,DOUTCC,BAD
0,19.0,4.0,0.0,0.0,R,0.0,O,14464.0,4.0,0.0,0.0,0.0,0.0,0.0
1,41.0,2.0,0.0,0.0,P,36000.0,O,0.0,0.0,280.0,664.0,0.0,80.0,0.0
2,66.0,0.0,0.0,0.0,N,30000.0,N,0.0,0.0,0.0,0.0,0.0,0.0,0.0
3,51.0,2.0,0.0,0.0,P,464.0,O,24928.0,8464.0,584.0,320.0,0.0,60.0,0.0
4,65.0,0.0,0.0,0.0,P,15000.0,P,0.0,0.0,0.0,0.0,0.0,0.0,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1220,52.0,4.0,1.0,0.0,V,37764.0,U,0.0,0.0,0.0,340.0,0.0,0.0,0.0
1221,56.0,3.0,0.0,1200.0,P,31500.0,O,6928.0,46464.0,784.0,256.0,0.0,0.0,1.0
1222,60.0,0.0,0.0,0.0,E,46800.0,O,11392.0,928.0,1144.0,680.0,0.0,108.0,0.0
1223,20.0,0.0,0.0,0.0,R,0.0,N,0.0,0.0,0.0,0.0,0.0,0.0,1.0
1224,66.0,0.0,0.0,0.0,T,5538.0,P,0.0,0.0,492.0,0.0,0.0,0.0,0.0